#services > .hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, var(--base) 60%), url('Landing.jpeg');

  background-repeat: no-repeat;
}

.service-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.service-card {
  align-self: center;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  margin: 16px;
}

.service-card > * {
  width: 40%;
  max-height: 100%;
  position: absolute;
}

.service-info {
  margin: 16px 0;
  overflow-y: scroll;
  height: 85%;
}

.service-info h2 {
  margin:  0;
}

.service-info p {
  margin-top:  0;
}

.service-info::-webkit-scrollbar {
  display: none;
}

.image {
  background-image: url("services/sample.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  justify-self: center;
}


.left .service-info {
  right: 50%;
  color: var(--dark);
  margin-right: 8px;
  text-align: right;
}

.left .image {
  left: 50%;
}

.right .service-info {
  left: 50%;
  margin-left: 8px;
  text-align: left;
}

.right .image {
  right: 50%;
}

#services {
  overflow-y: hidden;
}

