#services > .hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, var(--base) 60%), url('Landing.jpeg');

  background-repeat: no-repeat;
  align-items: flex-end;
  padding-right: 3em;
}

.hero ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  text-align: right;
  padding-right: 2em;
}

.hero ul a {
  color: var(--mid);
  font-size: 24px;
  text-decoration: none;
  width: max-content;
  margin: 4px 0;
  height: max-content;
  transition: .5s;
}

.hero ul a:hover {
  color: var(--dark);
  padding-right: 32px;
  transition: .5s;
}

.service-body {
  width: 100%;
  display: flex;

}

/* body of services page */



.service-list {
  margin: 32px 16px;
  padding: 0 20px;
  overflow-y: scroll;
  width: 25em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  border-right: 1px solid var(--mid);

  /* background-image: linear-gradient(var(--base), var(--mid) 20% 85%, var(--base) 100%); */

}


.service-list h1 {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 36px;
  color: var(--dark);
}

.service-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px 16px 0;
  margin: 0px;
}

.service-list li {
  margin: 0 0 16px 0;
  padding-top: 4px;
  text-align: left;
  font-size: 20px;
  color: var(--mid);
}

.service-list li:last-of-type {
  margin: 0px;
}

.methods {
  padding: 0 16px 8px ;
}

.methods li {
  padding: 0 0 0 16px;
  margin: 0px;
}

.service-list::-webkit-scrollbar {
  display: none;
}




#services {
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (max-width: 850px) {
  .service-body {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .service-list {
    border-right: none;
    width: 100%;
    padding: 3em 0px;
    gap: 0px;
  }
  .service-list li {
    text-align: center;

  }
}

@media (max-width: 600px) {
  .service-list h1 {
    font-size: 24px;
  }
  .service-list li {
    font-size: 16px;
  }
}