
:root {
  line-height: 1.5;
  font-weight: 400;

  --dark: #00154b;
  --mid: #1675B5;
  --light: #88ACD2;
  --base: #f3f8fe;

  height: 100%;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--base);

  overflow-y: scroll;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-padding-top: 50%;

  scroll-behavior: smooth;
  
}

/* * {
  border: 1px solid red;
} */



body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  color: var(--mid);
  font-family: 'Amiri Quran', serif;
}

h1 {
  font-family: 'Aref Ruqaa Ink', serif;
  margin: 0px;
  font-size: 64px;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 8vh; */
}

.hero {
  padding-top: 96px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* gap: 20vh; */
  width: 100%;
  background-size: cover;
  height: 70vh;
}

.hero p {
  font-size: 24px;
}

.logo {
  font-size: 48px;
}

@media (max-width: 750px) {
  h1 {
    font-size: 56px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 42px;
  }
}